<nav>
  <div id="fix-1200">
    <div id="logo"><a routerLink="/"><img src="/assets/img/logo.png" style="height:100%;"></a></div>
    <div id="button-less-900px">
      <a href="javascript:void(0)" (click)="openSideBar()"><i class="material-icons">menu</i></a>
    </div>
    <div id="button-over-900px">
      <ul>
        <li><a routerLink="/advisor" routerLinkActive="active">Advisor</a></li>
        <li><a routerLink="/research" routerLinkActive="active">Research</a></li>
        <li><a routerLink="/publications" routerLinkActive="active">Publications</a></li>
        <li><a routerLink="/members" routerLinkActive="active">Members</a></li>
        <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="main">
  <router-outlet />
</div>

<footer>
  <div>
    <table>
      <tbody>
        <tr>
          <td>
            <li><a target="_blank" href="https://web.ncku.edu.tw/">國立成功大學</a></li>
            <li>National Cheng Kung University</li>
            <li><a target="_blank" href="https://eecs.ncku.edu.tw/">電機資訊學院</a></li>
            <li>College of Electrical Engineering and Computer Science</li>
          </td>
          <td>
            <li><a target="_blank" href="https://www.csie.ncku.edu.tw/">資訊工程學系</a></li>
            <li>Department of Computer Science and Information Engineering</li>
            <li><a target="_blank" href="https://www.imi.ncku.edu.tw/">醫學資訊研究所</a></li>
            <li>Institute of Medical Informatics</li>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="margin: 0px auto; text-align:center;">
      <p>© 2024 互連網路暨高效率運算實驗室</p>
      <p> ── INHPC NCKU ❤︎ ──</p>
    </div>
  </div>
</footer>