<h1>著作</h1>
<h2>Accepted Papers to be Published</h2>
<ol>
    <li>Chia-Hung Lin and Sun-Yuan Hsieh &quot;Improving the Search Mechanism for Unstructured Peer-to-Peer
        Networks Using the Statistical Matrix Form&quot; IEEE Access, accepted.</li>
    <li>Limei Lin, Li Xu, Shuming Zhou, and Sun-Yuan Hsieh &quot;The extra, restricted connectivity and
        conditional diagnosability of split-star networks&quot; IEEE Transactions on Parallel and Distributed
        Systems, accepted. SCI EI</li>
    <li>Chia-Wen Cheng and Sun-Yuan Hsieh &quot;Fault-tolerant cycle embedding in Cartesian product graphs:
        edge-pancyclicity and edge-bipancyclicity with faulty edges&quot; IEEE Transactions on Parallel and
        Distributed Systems, accepted.SCI EI</li>
    <li>Chun-An Chen, Guey-Yun Chang, and Sun-Yuan Hsieh &quot;Conditional (t,k)-diagnosis in graphs by using the
        comparison diagnosis model&quot; IEEE Transactions on Computers, accepted. SCI EI</li>
    <li>Chia-Wei Lee and Sun-Yuan Hsieh &quot;Diagnosability of Component-Composition Graphs in the MM*
        Model&quot; ACM Transactions on Design Automation of Electronic Systems, accepted. SCI</li>
</ol>
<h2>Refereed Papers</h2>
<ol>
    <li>Nai-Wen Chang, Wei-Hao Deng, and Sun-Yuan Hsieh &quot;Conditional diagnosability of (n,k)-star networks
        under the comparison diagnosis model&quot; IEEE Transactions on Reliability, vol. 64, no. 1, March 2015.SCI
    </li>
    <li>Nai-Wen Chang, Eddie Cheng, and Sun-Yuan Hsieh &quot;Conditional diagnosability of Cayley graphs generated
        by transposition trees under the PMC model&quot; ACM Transactions on Design Automation of Electronic
        Systems, vol. 20, no. 2, article 20, February 2015.SCI</li>
    <li>Chia-Wei Lee, Chao-Wen Huang, Wen-Hao Pi, and Sun-Yuan Hsieh &quot;An improved approximation ratio to the
        partial-terminal Steiner tree problem&quot; IEEE Transactions on Computers, vol. 64, no. 1, pp. 274-279,
        January 2015. SCI EI</li>
    <li>Chia-Wei Lee, Pin-Liang Chen, and Sun-Yuan Hsieh &quot;Weight-constrained and density-constrained paths in
        a tree: enumerating, counting, and k-maximum density paths&quot; Discrete Applied Mathematics, vol. 180, pp.
        126-134, January 2015. SCI EI</li>
    <li>Nai-Wen Chang and Sun-Yuan Hsieh &quot;Structural properties and conditional diagnosability of star graphs
        by using the PMC model&quot; IEEE Transactions on on Parallel and Distributed Systems, vol. 25, no. 11, pp.
        3002-3011, November 2014. SCI EI</li>
    <li>Chia-Hung Lin, Chia-Yin Hsu, and Sun-Yuan Hsieh &quot;A multi-index hybrid trie for IP lookup and
        updates&quot; IEEE Transactions on on Parallel and Distributed Systems, vol. 25, no. 10, pp. 2486-2498,
        October 2014.SCI EI</li>
    <li>Chia-Wei Lee, Tsong-Jie Lin, and Sun-Yuan Hsieh &quot;Hamiltonicity of product networks with faulty
        elements&quot; IEEE Transactions on Parallel and Distributed Systems, vol. 25, no. 9, pp. 2318-2331,
        September 2014.SCI EI</li>
    <li>Chia-Wei Lee, Kuang-Yu Hsieh, Sun-Yuan Hsieh, and Hung-Chang Hsiao &quot;A dynamic data placement strategy
        for Hadoop in heterogeneous environments &quot; Big Data Research, (special issue on Scalable Computing for
        Big Data), vol. 1, pp. 14-22, August 2014.</li>
    <li>Nai-Wen Chang, Cheng-Yen Tsai, and Sun-Yuan Hsieh &quot;On 3-extra connectivity and 3-extra edge
        connectivity of folded hypercubes&quot; IEEE Transactions on Computers, vol. 63, no. 6, pp. 1594-1600, June
        2014.SCI EI</li>
    <li>Tai-Ling Ye and Sun-Yuan Hsieh &quot;A scalable comparison-based diagnosis algorithm for hypercube-like
        networks&quot; IEEE Transactions on Reliability, vol. 62, number 4, pp. 789-799, December 2013 (SCI). SCI
    </li>
    <li>Chia-Wen Cheng, Chia-Wei Lee, and Sun-Yuan Hsieh &quot;Conditional edge-fault Hamiltonicity of Cartesian
        product graphs&quot; IEEE Transactions on Parallel and Distributed Systems, vol. 24, no 10, pp. 1951-1960,
        October 2013. SCI EI</li>
    <li>Yeim-Kuan Chang, Cheng-Chien Su, Yung-Chien Lin, and Sun-Yuan Hsieh &quot;Efficient Gray code based range
        encoding schemes for packet classification in TCAM&quot; IEEE/ACM Transactions on Networking, vol 21, issue
        4, pp. 1201-1214, August 2013. SCI</li>
    <li>Nai-Wen Chang and Sun-Yuan Hsieh &quot;(2,3)-Extraconnectivities of hypercube-like networks&quot; Journal
        of Computer and System Sciences, vol. 79, issue 5, pp. 669-688, August 2013.SCI EI</li>
    <li>Sun-Yuan Hsieh, Cheng-Yen Tsai, and Chun-An Chen, &quot;Strong diagnosability and conditional
        diagnosability of multiprocessor systems and folded hypercubes&quot; IEEE Transactions on Computers, vol.
        62, no. 7, pp 1472-1477, July 2013.. SCI EI</li>
    <li>Chun-An Chen and Sun-Yuan Hsieh &quot;Component-composition graphs: (t,k)-diagnosability and its
        application&quot; IEEE Transactions on Computers, vol. 62, no. 2, pp. 1097-1110, June 2013. SCI EI</li>
    <li>Sun-Yuan Hsieh and Chi-Ya Kao &quot;The conditional diagnosability of k-ary n-cubes under the comparison
        diagnosis model&quot; IEEE Transactions on Computers, vol. 62, no. 4, pp. 839-843, April 2013.SCI EI</li>
    <li>Won-Sin Hong and Sun-Yuan Hsieh &quot;Extra edge connectivity of hypercube-like networks &quot;
        International Journal of Parallel, Emergent and Distributed Systems, vol. 28, issue 2, pp. 123-133, 2013.SCI
    </li>
    <li>Che-Nan Kuo, Hsin-Hung Chou, Nai-Wen Chang, and Sun-Yuan Hsieh &quot;Fault-tolerant path embedding in
        folded hypercubes with both node and edge faults&quot; Theoretical Computer Science, vol. 475, pp. 82-91,
        March 2013.SCI EI</li>
    <li>Chun-An Chen and Sun-Yuan Hsieh &quot;t/t-Diagnosability of regular graphs under the PMC model&quot; ACM
        Transactions on Design Automation of Electronic Systems, vol. 18, no. 2, article no. 20, March 2013. SCI</li>
    <li>Chao-Wen Huang, Chia-Wei Lee, Huang-Ming Gao, and Sun-Yuan Hsieh &quot;The internal Steiner tree problem:
        hardness and approximations&quot; Journal of Complexity, vol. 29, issue 1, pp. 27-43, February 2013.SCI</li>
    <li>Chia-Wei Lee and Sun-Yuan Hsieh &quot;Chapter 6: Diagnosability of Multiprocessor Systems&quot; in
        Scalable Computing and Communications: Theory and Practice, pp. 97--124, Wiley-IEEE Computer Society Press,
        January 2013.</li>
    <li>Nai-Wen Chang, Tzu-Yin Lin, and Sun-Yuan Hsieh &quot;Conditional diagnosability of k-ary n-cubes under
        the PMC model&quot; ACM Transactions on Design Automation of Electronic Systems, vol. 17, issue 4, article
        no. 46, October 2012.SCI</li>
    <li>Sun-Yuan Hsieh and Ying-Hsuan Chang &quot;Extraconnectivity of k-ary n-cube networks &quot; Theoretical
        Computer Science, vol. 443, issue. 20, pp. 63-69, July 2012. SCI EI</li>
    <li>Tsong-Jie Lin, Sun-Yuan Hsieh, and Justie Su-Tzu Juan &quot;Embedding cycles and paths in product
        networks and their applications to multiprocessor systems&quot; IEEE Transactions on Parallel and
        Distributed Systems, vol. 23, no. 6, pp. 1081-1089, June 2012. SCI</li>
    <li>Sun-Yuan Hsieh and Ying-Chi Yang &quot;A Classified Multi-Suffix Trie for IP Lookup and Update&quot; IEEE
        Transactions on Computers, IEEE Transactions on Computers, vol. 61, no. 5, pp. 726-731, May 2012. SCI EI</li>
    <li>Won-Sin Hong and Sun-Yuan Hsieh &quot;Strong diagnosability and conditional diagnosability of augmented
        cubes under the comparison diagnosis model&quot; IEEE Transactions on Reliability, vol. 61, no. 1, pp.
        140-148, March 2012.SCI</li>
    <li>Nai-Wen Chang and Sun-Yuan Hsieh &quot;Conditional diagnosability of augmented cubes under the PMC
        model&quot; IEEE Transactions on Dependable and Secure Computing, vol. 9, no. 1, pp. 46-60, January/February
        2012.SCI</li>
    <li>Chia-Wei Lee and Sun-Yuan Hsieh &quot;Pancyclicity of Matching Composition Networks under the Conditional
        Fault Model&quot; IEEE Transactions on Computers, vol. 61 no. 2, pp. 278-183, February 2012.SCI EI</li>
    <li>Chun-An Chen and Sun-Yuan Hsieh &quot;(t,k)-Diagnosis For Component-Composition Graphs Under the MM*
        Model&quot; IEEE Transactions on Computers, vol. 60, no. 12, pp. 1704-1717, December 2011. SCI EI</li>
    <li>Nai-Wen Chang and Sun-Yuan Hsieh &quot;Fault-tolerant bipancyclicity of faulty hypercubes under the
        generalized conditional-fault model&quot; IEEE Transactions on Communications, vol. 59, issue 12, pp.
        3400-3409, December 2011. SCI</li>
    <li>Chao-Wen Huang, Hui-Ling Huang, and Sun-yuan Hsieh &quot; Edge-bipancyclicity of star graphs with faulty
        elements&quot; Theoretical Computer Science, Theoretical Computer Science, vol. 412, issue 50, pp.
        6938-6947, November 2011. SCI EI</li>
    <li>Chao-Wen Huang, Wun-Shiun Lee, and Sun-Yuan Hsieh &quot;An Improved Heuristic Algorithm for Finding Motif
        Signals in DNA Sequences&quot; IEEE/ACM Transactions on Computational Biology and Bioinformatics, vol. 8,
        no. 4, pp. 959-975, July/August 2011. SCI</li>
    <li>Sun-Yuan Hsieh and De-Wei Lai &quot;A New Branch and Bound Method for the Protein Folding Problem Under
        the 2D-HP Model&quot; IEEE Transactions on NanoBioscience, vol. 10, no. 2, pp. 69-75, June 2011 .SCI</li>
    <li>Chia-Wei Lee and Sun-Yuan Hsieh &quot;Determining the Diagnosability of (1,2)-matching composition
        networks and its applications&quot; IEEE Transactions on Dependable and Secure Computing, vol. 8, no. 3, pp.
        353-362, May/June 2011.SCI</li>
    <li>Sun-Yuan Hsieh, Yi-Ling Huang, and Ying-Chi Yang &quot;Multi-prefix trie: a new data structure for
        designing dynamic router-tables&quot; IEEE Transactions on Computers, vol. 60, no. 5, pp. 693-706, May
        2011.SCI EI</li>
    <li>Chia-Wei Lee and Sun-Yuan Hsieh &quot;Diagnosability of two-matching composition networks under the MM*
        model&quot; IEEE Transactions on Dependable and Secure Computing, vol. 8, no. 2, pp. 246-255 March-April
        2011.SCI</li>
    <li>Sun-Yuan Hsieh &quot;On parallel recognition of cographs&quot; Theoretical Computer Science, vol. 412,
        issues 8-10, pp. 686-694, March 2011.SCI EI</li>
    <li>Sun-Yuan Hsieh and Ting-Yu Chou &quot;The weight-constrained maximum-density subtree problem and related
        problems in trees&quot; Journal of Supercomputing, vol. 54, issue 3, pp. 366-380, December 2010. SCI</li>
    <li>Che-Nan Kuo and Sun-Yuan Hsieh &quot;Pancyclicity and bipancyclicity of conditional faulty folded
        hypercubes &quot; Infprmance Sciences, vol. 180, issue 15, pp. 2904-2914, 1 August 2010.SCI EI</li>
    <li>Sun-Yuan Hsieh and Yi-Ru Cian &quot;Conditional edge-fault hamiltonicity of augmented cubes&quot;
        Infprmance Sciences,vol. 180, issue 13, pp. 2596-2617, July 2010.SCI EI</li>
    <li>Sun-Yuan Hsieh, Chaowen Huang, and Hsinhung Chou &quot;Chapter 9: DNA Computing for Subgraph Isomorphism
        Problem and Related Problems&quot; in Algorithms in Computational Molecular Biology: Techniques, Approaches
        and Applications, Part 1: Strings Processing and application to Biological Sequences, Wiley Series in
        Bioinformatics, June 2010.</li>
    <li>Sun-Yuan Hsieh and Chang-Yu Wu &quot;Edge-fault-tolerant hamiltonicity of locally twisted cubes under
        conditional edge faults &quot; Journal of Combinatorial Optimization, vol. 19, issue 1, pp. 16-30, January
        2010.SCI</li>
    <li>Sun-Yuan Hsieh and Chia-Wei Lee &quot;Pancyclicity of restricted hypercube-like networks under the
        conditional fault model&quot; SIAM Journal on Discrete Mathematics, vol. 23, no. 4, pp. 2010-2019, January
        2010. SCI EI</li>
    <li>Sun-Yuan Hsieh and Nai-Wen Chang &quot;Extended fault-tolerant cycle embedding in faulty hypercubes&quot;
        IEEE Transactions on Reliability, vol. 58, no. 4, pp. 702-710, December 2009. SCI</li>
    <li>Sun-Yuan Hsieh, Che-Nan Kuo, and Hsin-Hung Chou &quot;A further result on fault-free cycles in faulty
        folded hypercubes&quot; Information Processing Letters, vol. 110, no. 2, pp. 41-43, December 2009.SCI EI</li>
    <li>Sun-Yuan Hsieh and Chang-De Wu &quot;Optimal fault-tolerant hamiltonicity of star graphs with conditional
        edge faults&quot; Journal of Supercomputing, vol. 49, no. 3, pp. 354-372, September 2009.SCI</li>
    <li>Sun-Yuan Hsieh and Yu-Fen Weng &quot;Fault-tolerant embedding of pairwise independent Hamiltonian paths
        on a faulty hypercube with edge faults&quot; Theory of Computing Systems, vol. 45, no. 2, pp. 407-425,
        Augest 2009.SCI EI</li>
    <li>Sun-Yuan Hsieh and Tsong-Jie Lin &quot;Panconnectivity and Edge-Pancyclicity of k-Ary n-Cubes&quot;
        Networks, volume 54, issue 1, pp. 1-11, August 2009. SCI EI</li>
    <li>Sun-Yuan Hsieh, Che-Nan Kuo, and Hui-Ling Huang &quot;1-Vertex-Fault-Tolerant Cycles Embedding on Folded
        Hypercubes&quot; Discrete Applied Mathematics, vol. 157, issue 14, pp. 3094-3098, July 2009. SCI EI</li>
    <li>Sun-Yuan Hsieh and Chia-Wei Lee &quot;Conditional edge-fault hamiltonicity of matching composition
        networks&quot; IEEE Transactions on Parallel and Distributed Systems, vol. 20, no. 4, pp. 581-592, April
        2009. SCI EI</li>
    <li>Sun-Yuan Hsieh and Tsung-Yen Chuang &quot;The strong diagnosability of regular networks and product
        networks under the PMC model&quot; IEEE Transactions on Parallel and Distributed Systems, vol. 20, no. 3,
        pp. 367-378, March 2009.SCI EI</li>
    <li>Sun-Yuan Hsieh and Chang-Jen Tu &quot;Constructing Edge-Disjoint Spanning Trees in Locally Twisted
        Cubes&quot; Theoretical Computer Science, vol. 410, no. 8-10, pp. 926-932, March 2009.SCI EI</li>
    <li>Tsong-Jie Lin, Sun-Yuan Hsieh, and Hui-Ling Huang &quot;Cycle and path embedding on 5-ary n-cubes&quot;
        Theoretical Informatics and Applications, vol. 43, no. 1, pp. 133-144, January-March 2009. SCI</li>
    <li>Sun-Yuan Hsieh and Yu-Shu Chen &quot;Strongly diagnosable systems under the comparison diagnosis
        model&quot; IEEE Transactions on Computers, vol. 57, no. 12, pp. 1720-1725, December 2008.SCI EI</li>
    <li>Sun-Yuan Hsieh &quot;A note on cycle embedding in folded hypercubes with faulty elements&quot;
        Information Processing Letters, vol. 108, no. 2, pp. 81, September 2008.SCI EI</li>
    <li>Sun-Yuan Hsieh, Chao-Wen Huang, and Hsin-Hung Chou &quot;A DNA-based graph encoding scheme with its
        applications to graph isomorphism problems &quot; Applied Mathematics and Computation, vol. 203, issue 2,
        pp. 502-512, September 2008.SCI EI</li>
    <li>Sun-Yuan Hsieh and Tzu-Hsiung Shen &quot;Edge-Bipancyclicity of a Hypercube with Faulty Vertices and
        Edges&quot; Discrete Applied Mathematics, vol. 156, issue 10, pp. 1802-1808, May, 2008.SCI EI</li>
    <li>Sun-Yuan Hsieh and Yu-Shu Chen &quot;Strongly diagnosable product networks under the comparison diagnosis
        model&quot; IEEE Transactions on Computers, vol. 57, no. 6, pp. 721-732, June 2008.SCI EI</li>
    <li>Sun-Yuan Hsieh and Ming-Yu Chen &quot;A DNA-based solution to the graph isomorphism problem using
        Adleman-Lipton model with stickers&quot; Applied Mathematics and Computation, vol. 197, issue 2, pp.
        672-686, April 2008SCI EI</li>
    <li>Sun-Yuan Hsieh &quot;Some edge-fault-tolerant properties of the folded hypercube&quot; Networks, vol. 51,
        no. 2, pp. 92-101, March 2008.SCI</li>
    <li>Sun-Yuan Hsieh and Chin-Sheng Cheng &quot;Finding a maximum-density path in a tree under the weight and
        length constraints &quot; Information Processing Letters, vol. 105, issue 5, pp. 202-205, February 2008.SCI
        EI</li>
    <li>Sun-Yuan Hsieh, Tsong-Jie Lin, and Hui-Ling Huang &quot;Panconnectivity and edge-pancyclicity of 3-ary
        N-cubes&quot; Journal of Supercomputing, vol. 42, no. 2, pp. 255-233, November 2007.SCI</li>
    <li>Sun-Yuan Hsieh and Jung-Yiau Shiu &quot;Cycle embedding of augmented cubes&quot; Applied Mathematics and
        Computation, vol. 191, issue 2, pp. 314-319, August 2007.SCI</li>
    <li>Sun-Yuan Hsieh and Shih-Cheng Yang &quot;Approximating the selected-internal Steiner tree&quot;
        Theoretical Computer Science, vol. 381, no. 1-3, pp. 288-291, 2007. SCI EI</li>
    <li>Sun-Yuan Hsieh and Huang-Ming Gao &quot;On the partial terminal Steiner tree problem&quot; Journal of
        Supercomputing, vol. 41, no. 1, pp. 41-52, July 2007.SCI</li>
    <li>Sun-Yuan Hsieh and Zhe-Nan Guo &quot;Hamilton-connectivity and strongly Hamiltonian-laceability of folded
        hypercubes&quot; Computers and Mathematics with Applications, vol. 53, issue 7, pp. 1040-1044, April
        2007.SCI</li>
    <li>Sun-Yuan Hsieh &quot;A Faster Parallel Connectivity Algorithm on Cographs&quot; Applied Mathematics
        Letters, vol. 20, no. 3, pp. 341-344, March 2007.SCI</li>
    <li>Sun-Yuan Hsieh and Pei-Yu Yu &quot;Fault-free mutually independent Hamiltonian cycles in hypercubes with
        faulty edges&quot; Journal of Combinatorial Optimization, vol. 13, no. 2, pp. 153-162, February, 2007. SCI
    </li>
    <li>Sun-Yuan Hsieh &quot;Finding Maximal Leaf-agreement Isomorphic Descendent Subtrees from Phylogenetic
        Trees with Different Species&quot; Theoretical Computer Science, vol. 370, no. 1-3, pp. 299-308, February,
        2007.SCI EI</li>
    <li>Sun-Yuan Hsieh &quot;An efficient parallel strategy for the perfect domination problem on
        distance-hereditary graphs&quot; Journal of Supercomputing, vol. 39, no. 1, pp. 39-57, January 2007.SCI</li>
    <li>Sun-Yuan Hsieh and Chao-Wen Huang &quot;An efficient strategy for generating all descendant subtree
        patterns from phylogenetic trees with its implementation&quot; Applied Mathematics and Computation, vol.
        193, issue 2, pp. 308-318, November 2007.SCI</li>
    <li>Sun-Yuan Hsieh &quot;The interval-merging problem&quot; Information Sciences, vol. 177, issue 2, pp.
        519-524, 2007. SCI EI</li>
    <li>Sun-Yuan Hsieh, Chin-Wen Ho, Tsan-Sheng Hsu, and Min-Tat Ko &quot;The Hamiltonian Problem on
        Distance-Hereditary Graphs&quot; Discrete Applied Mathematics, vol. 154, issue 3, pp. 508-524, 2006. SCI EI
        . Note: this paper was submitted in 11/2002</li>
    <li>Sun-Yuan Hsieh and Tien-Te Hsiao &quot;The k-Degree Cayley Graph and its Topological Properties&quot;
        Networks, vol. 47, issue 1, pp. 26-36, 2006.SCI</li>
    <li>Sun-Yuan Hsieh &quot;Fault-Tolerant Cycle Embedding in the Hypercube with More Both Faulty Vertices and
        Faulty Edges&quot; Parallel Computing, vol. 32, issue 1, pp. 84-91, 2006.SCI EI</li>
    <li>Sun-Yuan Hsieh and Nai-Wen Chang &quot;Hamiltonian path embedding and pancyclicity on the Mobius cube
        with faulty nodes and faulty edges&quot; IEEE Transactions on Computers, vol. 55, no. 7, pp. 854-863, 2006.
        SCI EI</li>
    <li>Sun-Yuan Hsieh, and Zhe-Nan Guo &quot;1-Vertex-Hamiltonian-Laceability of Hypercubes with Maximal Edge
        Faults&quot; Journal of Interconnection Networks, vol. 6, no. 4, pp. 407-415, 2005.</li>
    <li>Sun-Yuan Hsieh &quot;Efficiently Parallelizable Problems on a Class of Decomposable Graphs&quot; Journal
        of Computer and System Sciences, vol. 70, no. 1, pp. 140-156, 2005.SCI EI</li>
    <li>Sun-Yuan Hsieh &quot;Embedding Longest Fault-Free Paths onto Star Graphs with More Vertex Faults&quot;
        Theortical Computer Science, Vol. 337, Issues 1-3, pp. 370-378, 2005.SCI EI</li>
    <li>Sun-Yuan Hsieh and Chun-Hua Chen &quot;Pancyclicity on Mobius Cubes with Maximal Edge Faults&quot;
        Parallel Computing, vol. 30, no. 3, pp. 407-421, 2004.SCI EI</li>
    <li>Sun-Yuan Hsieh &quot;An Efficient Parallel Strategy for the Two-Fixed-Endpoint Hamiltonian Path Problem
        on Distance-Hereditary Graphs&quot; Journal of Parallel and Distributed Computing, vol. 64, no. 5, pp.
        662-685, 2004.SCI EI</li>
    <li>Sun-Yuan Hsieh &quot;A simple and fast parallel coloring algorithm for distance-hereditary graphs&quot;
        IEEE Transactions on Parallel and Distributed Systems, vol. 14, no. 12, pp. 1201-1208, 2003. SCI EI</li>
    <li>Sun-Yuan Hsieh &quot;On vertex ranking of a starlike graph&quot; Information Processing Letters, vol. 82,
        no. 3, pp. 131-135, 2002.SCI Expanded, EI</li>
    <li>Sun-Yuan Hsieh &quot;An efficient parallel algorithm for the efficient domination problem on
        distance-hereditary graphs&quot; IEEE Transactions on Parallel and Distributed Systems, vol. 13, no. 9, pp.
        985-993, 2002.SCI EI</li>
    <li>Sun-Yuan Hsieh, Chin-Wen Ho, Tsan-sheng Hsu, Ming-Tat Ko, and Gen-Huey Chen &quot;Characterization of
        efficiently parallel solvable problems on distance-hereditary graphs&quot; SIAM Journal on Discrete
        Mathematics, vol. 15, no. 4, pp. 488-518, 2002.SCI EI</li>
    <li>Sun-Yuan Hsieh, Gen-Huey Chen, and Chin-Wen Ho &quot;Longest fault-free paths in star graphs with vertex
        faults&quot; Theoretical Computer Science, vol. 262, no. 1-2, pp. 215-227, 2001.SCI EI</li>
    <li>Sun-Yuan Hsieh, Gen-Huey Chen, and Chin-Wen Ho &quot;Longest fault-free paths in star graphs with edge
        faults&quot; IEEE Transactions on Computers, vol. 50, no. 9, pp. 960-971, 2001.SCI EI</li>
    <li>Sun-Yuan Hsieh, Gen-Huey Chen, and Chin-Wen Ho &quot;Hamiltonian-laceability of star graphs&quot;
        Networks, vol. 36, no. 4, pp. 225-232, 2000.SCI</li>
    <li>Sun-Yuan Hsieh, Chin-Wen Ho, Tsan-Sheng Hsu, Ming-Tat Ko, and Gen-Huey Chen &quot;A faster implementation
        of a parallel tree contraction scheme and its application on distance-hereditary graphs&quot; Journal of
        Algorithms, vol. 35, pp. 50-81, 2000.SCI EI</li>
    <li>Sun-Yuan Hsieh, Chin-Wen Ho, and Gen-Huey Chen &quot;Fault-free Hamiltonian cycles in faulty arrangement
        graphs&quot; IEEE Transactions on Parallel and Distributed Systems, vol. 10, no. 3, pp. 223-237, 1999.SCI EI
    </li>
    <li>Chin-Wen Ho, Sun-Yuan Hsieh, and Gen-Huey Chen &quot;Parallel decomposition of
        generalized-series-parallel graphs&quot; Journal of Information Science and Engineering, vol. 15, no. 3, pp.
        407-417, 1999.SCI Expanded, EI</li>
    <li>Sun-Yuan Hsieh, Chin-Wen Ho, Tsan-Sheng Hsu, Ming-Tat Ko, and Gen-Huey Chen &quot;Efficient parallel
        algorithms on distance-hereditary graphs&quot; Parallel Processing Letters, vol.9, no. 1, pp. 43-52, 1999.EI
    </li>
    <li>Chin-Wen Ho, Sun-Yuan Hsieh, and Gen-Huey Chen &quot;An efficient parallel strategy for computing
        k-terminal reliability and finding most vital edges in 2-trees and partial 2-trees&quot; Journal of Parallel
        and Distributed Computing, vol. 51, pp. 89-113, 1998.SCI</li>
</ol>
<h2>Conference Papers ── 國際會議</h2>
<ol>
    <li>Chia-Wen Cheng and Sun-Yuan Hsieh &quot;Bounds for the super extra edge connectivity of graphs&quot;
        Proceedings of the 21th Annual International Computing and Combinatorics Conference (COCOON 2015, Beijing
        China), LNCS 9198, pp. 479-486, 2015.</li>
    <li>Sun-Yuan Hsieh, Chia-Wei Lee, Zong-Ying Yang, Heng-Wei Wang, and Jun-Han Yu &quot;A Novel Algorithm for
        Classifying Protein Structure Familiar by Using the Graph Mining Approach&quot; Proceedings of International
        Conference on Intelligent Computing (ICIC), Fuzhou, China, August 20-23, Lecture Notes in Computer Science,
        2015.</li>
    <li>Sun-Yuan Hsieh, I-Pien Tsai, Hao-Che Hung, Yi-Chun Chen, Hsin-Hung Chou, and Chia-Wei Lee &quot;An
        Enhanced Algorithm for Reconstructing a Phylogenetic Tree Based on the Tree Rearrangement and Maximum
        Likelihood Method&quot; Proceedings of International Conference on Intelligent Computing (ICIC), Fuzhou,
        China, August 20-23, Lecture Notes in Computer Science 9226, 2015.</li>
    <li>3. Sun-Yuan Hsieh and Po-Cheng Hsu &quot;A Novel Dynamic IP Router-table Design for Internet&quot;
        Proceedings of International Conference on Computer and Information Sciences (ICCIS), Hong Kong SkyCity
        Marriott Hotel, 06 - 08 July 2015 (Best Paper Award).</li>
    <li>Chia-Wei Lee, Horng-Chyau Huang, and Sun-Yuan Hsieh &quot;IDP: An Innovative Data Placement Algorithm for
        Hadoop Systems&quot; Proceedings of International Computer Symposium (ICS2014 Dec. 12-14, Tunghai
        University, Taichung, Taiwan), vol. 1, pp. 47-56.</li>
    <li>1. Pei-Hsuan Tsai, Jhong-Yi Chen, Sun-Yuan Hsieh, and Chia-Chen Wei &quot;Using multi-task queues to
        improve data locality in Hadoop&quot; Proceedings of the 2013 Symposium on Cloud and Services Computing (SCC
        2013) to be held Mar. 14-15, in Tainan.</li>
    <li>Chia-Hung Lin and Sun-Yuan Hsieh &quot;A New Search Mechanism for Unstructured Peer-to-Peer Networks&quot;
        Proceedings of the 2nd International Conference on Applied Informatics and Computing Theory (AICT '11,
        Prague, Czech), ISBN: 978-1-61804-034-3, pp. 195-200, 2011.</li>
    <li>Tai-Ling Ye and Sun-Yuan Hsieh &quot;Fault Diagnosis for Hypercube-Like Networks&quot; Proceedings of the
        2nd International Conference on Applied Informatics and Computing Theory (AICT '11, Prague, Czech), ISBN:
        978-1-61804-034-3, pp. 205-209, 2011.</li>
    <li>Sun-Yuan Hsieh and and Chi-Ya Kao &quot;Determining the conditional diagnosability of k-ary n-cubes under
        the MM* model&quot; Proceedings of the 18th International Colloquium on Structural Information and
        Communication Complexity (SIROCCO 2011), Lecture Notes in Computer Science 6796, pp. 78-88, 2011.</li>
    <li>Sun-Yuan Hsieh and Chun-An Chen &quot;Computing the (t,k)-Diagnosability of Component-Composition Graphs
        and Its Application&quot; Proceedings of the 21st International Symposium on Algorithms and Computation
        (ISAAC), Lecture Notes in Computer Science 6507, pp. 363-374, 2010.</li>
    <li>Sun-Yuan Hsieh, Chao-Wen Huang, Yi-Ling Huang, and Ying-Chi Yang &quot;A Novel Dynamic Router-Tables
        Design for IP Lookup and Update&quot; Proceedings of the 2010 5th International Conference on Future
        Information Technology (FutureTech), Digital Object Identifier: 10.1109/FUTURETECH.2010.5482735, pp. 1-6,
        2010.</li>
    <li>Sun-Yuan Hsieh and Tsong-Jie Lin &quot;Super fault-tolerant hamiltonicity of product networks&quot;
        Proceedings of the 2010 IEEE International Symposium on Parallel and Distributed Processing with
        Applications (ISPA10, Taipei, Taiwan).</li>
    <li>Sun-Yuan Hsieh, Tsong-Jie Lin, Justie Su-Tzu Juan &quot;Path embeddings and related properties in
        Cartesian product graphs&quot; Proceedings of 16th International Conference on Parallel and Distributed
        Processing Techniques and Applications (PTPTA&rsquo;10, Las Vegas, Nevada, USA).</li>
    <li>Sun-Yuan Hsieh and Yi-Ru Cian &quot;Fault-Tolerant Hamiltonicity of Augmented Cubes Under the Conditional
        Fault Model&quot; Proceedings of the International Conference on Algorithms and Architectures for Parallel
        Processing, (ICA3PP&rsquo;09, Taipei, Taiwan), Lecture Notes in Computer Science 5574, pp. 673-683, 2009.
    </li>
    <li>Sun-Yuan Hsieh and Che-Nan Kuo &quot;Fault-Free Cycles in Conditional Faulty Folded Hypercubes&quot;
        Proceedings of the International Conference on Algorithms and Architectures for Parallel Processing,
        (ICA3PP&rsquo;09, Taipei, Taiwan), Lecture Notes in Computer Science 5574, pp. 439-448, 2009.</li>
    <li>Sun-Yuan Hsieh and Chia-Wei Lee &quot;Diagnosability of two-Matching composition networks&quot;
        Proceedings of the 14th Annual International Computing and Combinatorics Conference (COCOON 2008, Dalian,
        China), Lecture Notes in Computer Science.EI</li>
    <li>Sun-Yuan Hsieh and Nai-Wen Chang &quot;A new approach for cycle embedding in faulty hypercubes&quot;
        Proceedings of the Thirteenth IEEE Asia-Pacific Computer Systems Architecture Conference (ACSAC 2008,
        Lakeshore Hotel, Hsinchu, Taiwan), 2008, IEEE Computer Society Press. EI</li>
    <li>Sun-Yuan Hsieh and Wen-Hao Pi &quot;On the partial-terminal Steiner tree problem&quot; Proceedings of
        International Symposium on Parallel Algorithms and Architectures (ISPAN), IEEE Computer Society PressEI</li>
    <li>Sun-Yuan Hsieh and Chia-Wei Lee &quot;Hamiltonicity of matching composition networks with conditional
        edge faults&quot; Proceedings of 5th Annual Conference on Theory and Applications of Models of Computation
        (TAMC08), Lecture Notes in Computer Science, pp. 160-169, 2008.</li>
    <li>Sun-Yuan Hsieh and Chang-De Wu &quot;Conditional Edge-Fault-Tolerant Hamiltonian Cycle Embedding of Star
        Graphs&quot; Proceedings of the 13th International Conference on Parallel and Distributed Systems
        (ICPADS&rsquo;07), pp. , Hsinchu, Taiwan, 2007, IEEE Computer Society Press.EI</li>
    <li>Sun-Yuan Hsieh and Tsong-Jie Lin &quot;Embedding Cycles and Paths in a k-Ary n-Cube&quot; Proceedings of
        the 13th International Conference on Parallel and Distributed Systems (ICPADS&rsquo;07), pp. , Hsinchu,
        Taiwan, 2007, IEEE Computer Society Press.EI</li>
    <li>Sun-Yuan Hsieh and Chang-Yu Wu &quot;Fault-free Hamiltonian cycles in locally twisted cubes under
        conditional edge faults&quot; Proceedings of the 13th International Conference on Parallel and Distributed
        Systems (ICPADS&rsquo;07), pp. , Hsinchu, Taiwan, 2007, IEEE Computer Society Press.EI</li>
    <li>Sun-Yuan Hsieh &quot;Path embedding on folded hypercubes&quot; Proceedings of the 4th Annual Conference
        on Theory and Applications of Models of Computation (TAMC07, Shanghai, China), Lecture Notes in Computer
        Science 4484, pp. 750-759, 2007.SCI Expanded</li>
    <li>Sun-Yuan Hsieh, Huang-Ming Gao, and Shih-Cheng &quot;On the internal Steiner tree problem&quot;
        Proceedings of the 4th Annual Conference on Theory and Applications of Models of Computation (TAMC07,
        Shanghai, China), Lecture Notes in Computer Science 4484, pp. 274-283, 2007.SCI Expanded</li>
    <li>Sun-Yuan Hsieh and Huang-Ming Gao &quot;Hardness and Approximation of the Selected-leaf-terminal Steiner
        Tree Problem&quot; Proceedings of the 7th International Conference on Parallel and Distributed Computing,
        Applications and Technologies (PDCAT&rsquo;06, Taipei, TAIWAN), IEEE Computer Society Press.EI</li>
    <li>Sun-Yuan Hsieh and Pei-Yu Yu &quot;Cycle Embedding on Twisted Cubes&quot; Proceedings of the 7th
        International Conference on Parallel and Distributed Computing, Applications and Technologies
        (PDCAT&rsquo;06, Taipei, TAIWAN), IEEE Computer Society PressEI</li>
    <li>Sun-Yuan Hsieh &quot;Fault-free mutually independent Hamiltonian cycles in the hypercube with faulty
        edge&quot; Proceedings of the International Conference on Innovative Computing, Information and Control
        (ICICIC-2006, Beijing, China), pp. 288-292, IEEE Computer Society Press.EI</li>
    <li>Sun-Yuan Hsieh &quot;Fault-Free Pairwise Independent Hamiltonian Paths on Faulty Hypercubes&quot;
        Proceedings of the 11th Asia-Pacific Conference on Advances in Computer Systems Architecture (ACSAC 06,
        Shanghai, China), Lecture Notes in Computer Science 4186, pp. 373-379.SCI Expanded</li>
    <li>Sun-Yuan Hsieh and Shih-Cheng Yang &quot;MAX-SNP hardness and approximation of selected-internal Steiner
        trees&quot; Proceedings of the 12th Annual International Computing and Combinatorics Conference (COCOON
        2006, Taipei, TAIWAN), Lecture Notes in Computer Science 4112, pp. 449-458, 2006.SCI Expanded</li>
    <li>Sun-Yuan Hsieh &quot;Linear-time algorithms for two subtree-comparison problems on phylogenetic trees
        with different species&quot; Proceedings of the 26th Conference on Foundations of Software Technology and
        Theoretical Computer Science (FSTTCS 2006, Kolkata, India), Lecture Notes in Computer Science 4337, pp.
        164-175, 2006.SCI Expanded</li>
    <li>Sun-Yuan Hsieh and Chao-Wen Huang &quot;A web-based system for finding subtrees on phylogenetic
        trees&quot; Proceeding of the 2nd International Conference on Natural Computation and the 3rd International
        Conference on Fuzzy Systems and Knowledge Discovery (ICNC'06-FSKD'06), pp. 81-91, 2006.</li>
    <li>Sun-Yuan Hsieh and Zhe-Nan Guo &quot;Hamiltonian-connectivity and strongly Hamiltonian-laceability of
        folded hypercubes&quot; Proceedings of the 2006 International Conference on Foundations of Computer Science
        (FCS'06, Las Vegas, USA), pp. 48-50, 2006.</li>
    <li>Sun-Yuan Hsieh and Ting-Yu Chou &quot;Finding a weight-constrained maximum-density subtree in a
        tree&quot; Proceedings of the 16th International Symposium on Algorithms and Computation (ISAAC 2005),
        Lecture Notes in Computer Science 3827, pp. 944-953, 2005.SCI Expanded</li>
    <li>Sun-Yuan Hsieh &quot;Embedding of cycles in the faulty hypercube&quot; Proceedings of the 10th
        Asia-Pacific Conference on Advances in Computer Systems Architecture (ACSAC 05), Lecture Notes in Computer
        Science 3740, pp. 229-235, 2005.SCI Expanded</li>
    <li>Sun-Yuan Hsieh and Nai-Wen Chang &quot;Cycle Embedding on the Mobius Cube with Both Faulty Nodes and
        Faulty Edges&quot; Proceedings of the Eleventh International Conference on Parallel and Distributed Systems
        (ICPADS&rsquo;05), Volume II Workshops, pp. 620-624, Fukuoka Institute of Technology (FIT), Fukuoka, Japan.
    </li>
    <li>Sun-Yuan Hsieh and Zhe-Nan Guo &quot;Strongly Hyper-Hamiltonian-Laceability of Hypercubes&quot; in
        Proceedings of the 2004 International Conference on Parallel and Distributed Processing Techniques and
        Applications (PDPTA), pp. 1081-1083.</li>
    <li>Sun-Yuan Hsieh and Chun-Hua Chen &quot;Pancyclicity on Mobius Cubes with Edge Faults&quot; in Proceedings
        of International Symposium on Parallel Algorithms and Architectures (ISPAN), pp. 168-173, 2004.</li>
    <li>Sun-Yuan Hsieh and Tien-Te Hsiao &quot;Topological Properties, Optimal Routing, and Embedding on the
        K-valent Graph&quot; in Proceedings of the 2004 International Conference on Parallel Processing (ICPP), pp.
        206-213.</li>
    <li>Sun-Yuan Hsieh &quot;Characterization of efficiently parallel solvable problems on a class of
        decomposable Graphs&quot; Proceedings of the 4th International Conference on Computational Science (ICCS),
        Lecture Notes in Computer Science 3036, pp. 223-230, 2004.SCI Expanded</li>
    <li>Sun-Yuan Hsieh, Chin-Wen Ho, Tsan-Sheng Hsu, and Min-Tat Ko &quot;Efficient algorithms for the
        Hamiltonian problem on distance-hereditary graphs&quot; Proceedings of the 8th International Conference on
        Computing and Combinatorics (COCOON), Lecture Notes in Computer Science 2387, pp. 77-86, 2002.SCI Expanded
    </li>
    <li>Sun-Yuan Hsieh &quot;Parallel decomposition of distance-hereditary graphs&quot; Proceedings of 4th
        International ACPC Conference Including Special Tracks on Parallel Numerics and Parallel Computing in Image
        Processing, Video Processing, and Multimedia (ACPC), Lecture Notes in Computer Science 1557, pp. 417-426,
        1999.SCI Expanded</li>
    <li>Sun-Yuan Hsieh, Chin-Wen Ho, Tsan-Sheng Hsu, Ming-Tat Ko, and Gen-Huey Chen &quot;Characterization of
        efficiently solvable problems on distance-hereditary graphs&quot; Proceedings of the 9th International
        Symposium on Algorithms and Computation (ISAAC), Lecture Notes in Computer Science 1533, pp. 257-266,
        1998.SCI Expanded</li>
    <li>Sun-Yuan Hsieh, Chin-Wen Ho, Tsan-Sheng Hsu, Ming-Tat Ko, and Gen-Huey Chen &quot;A new simple parallel
        tree contraction scheme and its application on distance-hereditary graphs&quot; Proceedings of the 5th
        International Symposium on Solving Irregularly Structured Problems in Parallel (IRREGULAR), Lecture Notes in
        Computer Science 1457, pp. 298-309, 1998.SCI Expanded</li>
    <li>Sun-Yuan Hsieh, Gen-Huey Chen, and Chin-Wen Ho &quot;An optimal parallel algorithm for the perfect
        dominating set problem on distance-hereditary graphs&quot; Proceedings of the 4th Asian Computing Science
        Conference (ASIAN), Lecture Notes in Computer Science 1538, pp. 113-124, 1998.SCI Expanded</li>
    <li>Sun-Yuan Hsieh, Gen-Huey Chen, and Chin-Wen Ho &quot;Embed longest rings onto star graphs with vertex
        faults&quot; Proceedings of the 1998 International Conference on Parallel Processing (ICPP), pp. 140-147.
    </li>
    <li>Maw-Shang Chang, Sun-Yuan Hsieh, and Gen-Huey Chen &quot;Dynamic programming on distance-hereditary
        graphs&quot; Proceedings of the 8th International Symposium on Algorithms and Computation (ISAAC), Lecture
        Notes in Computer Science 1350, pp. 344-353, 1997.SCI Expanded</li>
    <li>Sun-Yuan Hsieh, Gen-Huey Chen, and Chin-Wen Ho &quot;Hamiltonian-Laceability of Star Graphs&quot;
        Proceedings of the International Symposium on Parallel Algorithms and Architectures (ISPAN), pp. 112-117,
        1997.</li>
    <li>Chin-Wen Ho, Sun-Yuan Hsieh, and Gen-Huey Chen &quot;An efficient parallel strategy for computing
        k-terminal reliability and finding most vital edges in 2-trees and partial 2-trees&quot; Proceedings of the
        11th International Parallel Processing Symposium (IPPS), pp. 603-607, 1997.</li>
    <li>Sun-Yuan Hsieh, Chin-Wen Ho, and Gen-Huey Chen &quot;Fault-tolerant ring embedding in faulty arrangement
        graphs&quot; Proceedings of the International Conference on Parallel and Distributed Systems (ICPADS),
        pp.744-749, 1997.</li>
    <li>Chin-Wen Ho, Sun-Yuan Hsieh, and Gen-Huey Chen &quot;Parallel decomposition of
        generalized-series-parallel graphs&quot; Proceedings of the International Conference on Parallel and
        Distributed Processing Technique and Application (PDPTA), pp. 890-896, 1997.</li>
    <li>Sun-Yuan Hsieh, Chin-Wen Ho, Tsan-Sheng Hsu, Ming-Tat Ko, and Gen-Huey Chen &quot;Efficient parallel
        algorithms on distance-hereditary graphs&quot; Proceedings of the 1997 International Conference on Parallel
        Processing (ICPP), pp. 20-23</li>
    <li>Sun-Yuan Hsieh and Chin-Wen Ho &quot;An efficient parallel strategy for recognizing series-parallel
        graphs&quot; Proceedings of the 5th International Symposium on Algorithms and Computation (ISAAC), Lecture
        Notes in Computer Science 834, pp. 496-504, 1994.SCI Expanded</li>
</ol>
<h2>Conference Papers ── 國內會議</h2>
<ol>
    <li>Chia-Chen Wei, Chia-Wei Lee, Sun-Yuan Hsieh, and Sheng-Lung Peng &quot;Improved approximation algorithm
        for the (1,2)-partial-terminal Steiner tree problem&quot; Proceedings of the 31st Workshop on Combinatorial
        Mathematics and Computation Theory, pp. 62--63, 2014.</li>
    <li>Sun-Yuan Hsieh &quot;The constrained maximum-density subsequence problems&quot; 第四屆台灣軟體工程研討會</li>
    <li>Sun-Yuan Hsieh and Chao-Wen Huang &quot;A DNA-based solution to the subgraph isomorphism problem&quot;
        Proceedings of the 25th Workshop on Combinatorial Mathematics and Computation Theory, pp. 407-413, 2008.</li>
    <li>Sun-Yuan Hsieh and Ting-Yu Chou &quot;Pseudo-polynomial time algorithms for the maximum-density subtree
        problem and related problems&quot; Proceedings of the 23th Workshop on Combinatorial Mathematics and
        Computation Theory, pp. 24-27, 2006.</li>
    <li>Sun-Yuan Hsieh, Chin-Wen Ho, Tsan-Sheng Hsu, and Min-Tat Ko &quot;A Linear Time Algorithm for the
        Hamiltonian Problem on Distance-Hereditary Graphs&quot; Proceedings of the 19th Workshop on Combinatorial
        Mathematics and Computation Theory, pp. 8-11, 2002. C. Other Articles</li>
</ol>